#cursorOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10000;
}

.cursorCircle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
}

#selectionCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
